h1 {
  color: blue;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}

img {
    width: 1000px;
    height: 800px;
}

p {
    color:rgb(63, 11, 112);
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#paragraph2 {
    color: rgb(226, 107, 43)
}